@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;

}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
}
.box{
    width: 700px;
    min-height:500px ;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
}
#item{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    box-shadow: 0px 0px 5px grey;
}
.to-do-list{
    margin-top: 20px;

}
.box ul li{
    list-style: none;
    width: 100%;
    position: relative;
    color: white;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    text-align: justify;
    /* padding-right: 10px; */
    background-color: #34495e;
}
#to-do-list i{
    position: absolute;
    top: 10px;
    user-select: none;
    right: 15px;
}
.done{
    text-decoration: line-through;
    text-decoration-color: #cdd2d7;
    text-decoration-thickness: 2px;
    color: black;
    font-weight: bold;
    background-color: #85888b !important;
}